.imagen {
  min-width: 700px;
  min-height: 400px;
  background-image: url("src/img/blank-notebook-template-free-vector.jpg");
  background-size: cover;
  border: 3px solid #ccc;
  border-radius: 20px;
}